* {
    margin: 0 0 0 0;
}

/* Heading Styles */
.web-heading {
    text-align: right;
    background-image: url('./images/banner/banner1.png');
    background-repeat: none;
    background-size: cover;
    padding-bottom: 300px;

}

.wh-title {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    padding-right: 200px;
    padding-top: 200px;
    line-height: 75px;

}

.wh-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-right: 200px;
    width: 494px;
    height: 78px;
    margin-left: auto;
    padding-top: 20px;
}

.wh-button {
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(248, 96, 50);
    margin-right: 200px;
    padding: 20px 25px;
    margin-top: 30px;
    transition: 0.3s;
}

.wh-button:hover {
    background-color: rgb(255, 30, 0);
}

/* About Business Part Styles */
.about-business {
    display: flex;
    padding-top: 100px;
}

.ab-images {
    /* Div */
    background-image: url('images/circle.png');
    background-repeat: no-repeat;
    background-size: 530px;
    background-position: right 17%  bottom 3%;
}

.ab-image {
    width: 569px;
    padding-left: 450px;
    padding-right: 80px;
}

.ab-texts {
    /* Div */
}

.ab-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-top: 300px;
}

.ab-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    margin-right: 250px;
}

.ab-rows {
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    list-style: none;
}

/* My Plans Styles */
.my-plan-parent-title{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
    font-size: 40px;
}
.my-plan-parent{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.web-dev{
    text-align: center;
}

/* Bottom Banner Styles */
.bottom-banner{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgb(248, 96, 50), rgb(255, 255, 255)), url('images/bottom-banner.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 1020px;
    margin-top: 100px;
    border-radius: 10px;
}
.banner-texts{
    color: white;
    padding: 60px;
    font-size: 20px;
}
.btn-call-now{
    background-color: white;
    border: 1px solid rgb(248, 96, 50);
    border-radius: 5px;
    padding: 18px 40px;
    margin-top: 10px;
    color: rgb(248, 96, 50);
    font-size: 18px;
}

/* Footer Part Styles */
footer{
    display: flex;
    background-color: #151414;
    justify-content: space-around;
    padding-top: 100px;
    margin-top: 80px;
    padding-bottom: 100px;
}

.footer-left{
    width: 25%;
    color: white;
}
.footer-right{
    color: white;

}
.email-box{
    margin-top: 15px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 15px 60px;
    background-color: #151414;
}

.email-fl{
    padding-top: 20px;
}
.phone-fl{
    padding-top: 10px;
    padding-bottom: 20px;
}
.social-icons{
    justify-content: space-around;
}